*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--color);
}

:root[data-theme="light"] {
  --background-color: #fafafa;
  --color: #262626
}

:root[data-theme="dark"] {
  --background-color: #262626;
  --color: #fafafa
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 8px;
  text-transform: uppercase;
}
h2{
  color: #C4C4C4;
font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 900;
line-height: 38px;
letter-spacing: 2px;
}

h3{
  color: #6A6A6A;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4{
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5{
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
